*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text-main;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img, picture {
  max-width: 100%;
  display: block;
  height: auto;
}

ul { list-style: none; }
a { text-decoration: none; color: inherit; transition: color 0.3s ease; }