.container { @include make-container(); }
.row { @include make-row(); }

// Генерація класів колонок
@for $i from 1 through 12 {
  .col-#{$i} { @include make-col($i); }
}

@include respond-to('md') {
  @for $i from 1 through 12 {
    .col-md-#{$i} { @include make-col($i); }
  }
}

@include respond-to('lg') {
  @for $i from 1 through 12 {
    .col-lg-#{$i} { @include make-col($i); }
  }
}